body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, td, th, thead {
    font-size: 0.78em;
}

table {
    border-width: 1px;
    border-color: grey;
    border-collapse: collapse;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}